* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    width: 1440px;
    margin: auto;

}

.bd {
    border: red solid 1px;
}

.d-f {
    display: flex;
}

.bold_17 {
    font-size: 17px;
    font-weight: bold;
}

.up {
    text-transform: uppercase;
}

.t-d-n {
    text-decoration: none;
    color: black;
}

.t-a-c {
    text-align: center;
}

.v-a-m {
    vertical-align: middle;
}

.h1 {
    font-size: 38px;
    font-weight: bold;
}

.h2 {
    font-size: 20px;
    font-weight: bold;
}

.h3 {
    font-size: 17px;
    font-weight: bold;
}

.t1 {
    font-size: 18px;
}

.href-n {
    text-decoration: none;
    color: white;
}