.sct-four {
    padding: 125px 150px;
    background-color: #f9fbfb;
}

.services-t {
    padding-top: 17px;
    padding-bottom: 122px;
}

.services {
    display: grid;
    grid-template-columns: 475px 165px 475px;
    grid-template-rows: 423px 372px 372px;
    gap: 13px;
}

.s1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.s2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.s3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.s4 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.s5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.s6 {
    grid-column: 2/4;
    grid-row: 3/4;
}

.serv-i {
    position: relative;
    z-index: 0;
}

.serv-t {
    background-color: #525250;
    position: absolute;
    text-align: start;
    padding: 65px;
    line-height: 1.5;
    color: white;
    opacity: 0.7;
    left:0;
    bottom:0;
    right:0;
    top:0;
    margin: auto;
    display: none;
    z-index: 1;
}

.serv-t2{
    padding-top: 140px;
}

.serv-i:hover .serv-t {
    display: block;
}


.okno {
    padding: 65px;
    background-color:#6ff6eb ;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
    z-index: 2;
    text-align: left;
    line-height: 1.5;
}

  .okno:target {
      display: block;
}

.close {
    display: inline-block;
    margin-top: 60px;
    text-decoration: none;
    font-size: 14pt;
    color: black;
}