.sct-one {
    padding: 63px 152px 130px 63px;
    background-color: #eff0f2;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    border: black 5px solid;
    padding: 6px;
}

.o {
    font-size: 21px;
    font-weight: bold;
    color: #77efe5;
}

.contact-text {
    font-size: 45px;
    font-weight: bold;
    color: #505050;
    text-shadow: 5px 9px 9px #b9b9b9;
    padding-top: 206px;
    padding-bottom: 149px;
    line-height: 1.3;
}

.bg77 {
    background-color: #77efe5;
}

.contact-btn {
    border: black solid 1px;
    padding: 21px 48px;
    font-size: 18px;
    letter-spacing: 0.2rem;
}

.cup {
    display: flex;
    justify-content: flex-end;
    padding-right: 243px;
}