.sct-three {
    padding: 129px 150px 122px 150px;
}

.works {
    padding-top: 17px;
    padding-bottom: 118px;
}

.works-banner {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    gap: 12px;
}