.sct-four {
    padding: 125px 150px;
    background-color: #f9fbfb;
}

.services-t {
    padding-top: 17px;
    padding-bottom: 122px;
}

.services {
    display: grid;
    grid-template-columns: 475px 165px 475px;
    grid-template-rows: 423px 372px 372px;
    gap: 13px;
}

.serv-b {
    background-color: #525250;
    position: relative;
}

.s1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.s2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.s3 {
    grid-column: 1/3;
    grid-row: 2/3;
}

.s4 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.s5 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.s6 {
    grid-column: 2/4;
    grid-row: 3/4;
}

.serv-t {
    position: absolute;
    bottom: 100px;
    text-align: start;
    padding-left: 66px;
    line-height: 1.5;
    color: white;
    z-index: 0;
}

.serv-i:hover {
    opacity: 0.2;
}

.serv-i {
    z-index: 1;
    position: absolute;
}