.sct-two {
    padding: 130px 200px 113px 200px;
    background-color: #f8fafa;
}

.about {
    padding-bottom: 191px;
    padding-top: 17px;
}

.about-text {
    text-align: start;
    line-height: 1.5;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 113px;
}

.about-sw {
    position: relative;
}

.imac {
    z-index: 0;
    position: absolute;
    left: 45px;
    top: -45px;
}

.imac-bg {
    z-index: 1;
}

.points {
    margin-top: 80px;
    display: flex;
    gap: 4px;
    justify-content: center;
}

.point {
    display: flex;
    position: relative;
}

.point-2 {
    position: absolute;
    z-index: 0;
}

.point-1 {
    z-index: 1;
}

.point-1:hover {
    opacity: 0.2;
}



